#gShade{ left:0px; top:0px; width:100%; display:none; background:transparent url(res/bckg.png) repeat; position:absolute; z-index:100}
#gMsg{ height:30px; position:absolute; z-index:101; background:transparent url(res/bckg.png) repeat;}
#gMsgText{ height:30px; text-align:center; font-weight:bold; position:absolute; z-index:102; color:white;}
img.gCache{position:absolute; z-index:100; cursor:pointer; border:5px white solid}
img.g{ cursor:pointer; margin-left:auto; margin-right:auto; outline:none; max-height:325px; max-width:500px; }
a.gn{ outline:none; font-family:Trebuchet MS; font-size:14px; color:#001E4B; text-decoration:none; font-weight:bold}
a.gn:hover{background-color:transparent; }
