
input[type="text"], textarea{ border:1px silver solid }

.l{ text-align:left; padding-left:8px}
.r{ text-align:right; padding-right:8px}
.c{ text-align:center}

.author{ font-size:10px; color:#001E4B}
a.author{ font-size:10px; color:#001E4B;  font-weight:bold; text-decoration:none }
a.author:hover{ color:#001E4B; text-decoration:underline}

.offset{ width:40px; height:5px}
.indent{ margin-left:50px; margin-right:50px}
.notification{ display:inline-block; width:665px; padding:5px; margin-left:10px; margin-bottom:10px; border:1px navy solid; background-color:white}

div#gImgHolder{ background-image:url(res/load.gif); background-repeat:no-repeat; background-position:center 110px}
span.msg{ display:inline-block; width:100px; float:left}
input.msg{ width:100%; font-family:Trebuchet MS; font-size:13px; color:#001E4B; }
textarea.msg{ width:100%; height:150px; font-family:Trebuchet MS; font-size:13px; color:#001E4B; }

a.index{ line-height:16px; text-decoration:none; display:block; margin-bottom:2px}
a.index:hover{ text-decoration:none}

table{ border-top:1px #001E4B solid; border-left:1px #001E4B solid;}
td{ border-bottom:1px #001E4B solid; border-right:1px #001E4B solid}

.chapterImage{ text-align:center; font-weight:bold }
p.top{ text-align:right}
p.chapterTitle{ text-align:center; font-weight:bold; font-size:16px; font-family:Trebuchet MS}

li.hLi{ list-style-image:url(res/arrow2.gif);float:left; width:80px}
#hUl{ float:left; padding:0px;margin:0px 0px 0px 2px; list-style:inside}
#hPlaceholder{ width:900px; height:129px; text-align:right; vertical-align:bottom}
#hLinks{ padding-top:2px; width:173px; height:30px; margin-left:8px; margin-top:90px; float:left; text-align:left; background-image:url(res/hLinksBckg.png); background-repeat:no-repeat}

ul{ margin-bottom:0px}
li{ margin-top:4px}

#mColBckgBotomMask0{ width:10px; height:25px; float:left; background-image:url(res/mColBckgBotomMask0.png)}
#mColBckgBottomMask{ width:680px; height:25px; float:left; background-image:url(res/mColBckgBottomMask.png); background-repeat:repeat-x}
#imgAz{ margin-right:10px; margin-bottom:10px; float:left}

html, body{ padding:0px; margin:0px; font-family:Trebuchet MS; font-size:13px; color:#001E4B; line-height:18px; background-color:#E9E9E9}
span{ font-family:Trebuchet MS; font-size:13px}

.tplContainer{ margin-left:10px; margin-right:10px}

#container1{ margin-top:5px; border-left:5px white solid; border-right:5px white solid; border-top:5px white solid; background-color:white; height:100%; overflow:auto; width:900px; margin-left:auto; margin-right:auto; background-image:url(res/header.png); background-repeat:no-repeat}
#footer{ margin-bottom:5px; border-left:5px white solid; border-right:5px white solid; border-bottom:5px white solid; color:#001E4B; text-align:center; background-color:white; line-height:25px; height:120px; width:900px; margin-left:auto; margin-right:auto}
#rwbLine{ background-image:url(res/rwb.png); background-repeat:repeat-x; background-position:top; height:20px; }

#lCol{ width:190px; float:left; }
#mCol{ width:0px; float:left}

a{ font-family:Trebuchet MS; font-size:13px; text-decoration:underline; color:#001E4B}
a:hover{ color:#001E4B; text-decoration:underline; background-color:white}

a.n{ font-family:Trebuchet MS; font-size:13px; text-decoration:underline; color:#660000}
a.n:hover{ color:#660000; text-decoration:underline; background-color:white}

a.image { text-decoration:none }
a.image:hover { text-decoration:none; background-color:transparent }

img.arrow{ outline:none; border:0px; margin-right:5px;}
img.arrow2{ outline:none; border:0px; margin-right:5px; margin-left:20px; margin-top:5px; float:left}

#mColBckgTop{ margin-top:2px; width:700px; height:25px; background-color:#d6dbe9; background-image:url(res/mColBckgTop.png); background-repeat:no-repeat; background-position:right; border-left:5px white solid; border-right:5px white solid; border-top:1px white solid}
#mColBckgMiddle{ width:700px; background-color:#d6dbe9; background-image:url(res/mColBkcgMiddle.png); background-repeat:repeat-y; background-position:right; border-left:5px white solid; border-right:5px white solid}
#mColBckgBottom{ width:700px; height:25px; background-image:url(res/mColBckgBottom.png); background-repeat:no-repeat; background-position:right; border-left:5px white solid; border-right:5px white solid; border-bottom:1px white solid}

div.title{ font-family:Trebuchet MS; font-size:18px; color:#001E4B; margin-bottom:10px; padding-bottom:10px; border-bottom:1px #001E4B solid}